



#ex_3{
    width: 500px;
    height: 300px;
    padding: 20px;

    background-color: rgb(28, 96, 28);
    color: white;

}

#ex_4{
    width: 500px;
    height: 300px;
    padding: 20px;

    background-color: rgb(39, 39, 94);
    color: white;
}




